body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  header {
    position: fixed;
    top: 6;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Add an overlay to the video */
    z-index: 0;
    padding: 15px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
  }
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: rgb(141, 3, 3);
  }
  section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  video {
    /*position: fixed;*/
    top: 0;
    left: 0;
    /*height: ;
    width: 100%;/*
    /*min-width: 100%;
    min-height: 100%;*/
    z-index: -1;
  }
  #logo1{
      height: 20px;
      width: 20px;
      padding: 0%;
      margin: 0%;
  }
  .slider-container {
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  /* Style the container div */
.typewriter {
  width: 100%;
  height: 100vh; /* Adjust this to fit your layout */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333;
}

/* Hide the overflow of the paragraph to create the typewriter effect */
.typewriter p {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid #333; /* Create the typing cursor */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Keyframes for the typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Keyframes for the blinking cursor */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #333; }
}
