body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210804/pngtree-modern-simple-elegant-beautiful-color-website-landing-page-background-image_757350.jpg"); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background: linear-gradient(135deg, #00feba, #5b548a);

    
}

.container {
    max-width: 800px;
    margin: 50px auto;
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

    /* background-color: rgba(0, 0, 0, 0.5); */
}


h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

#file-chosen {
    margin-left: 10px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    max-width: 100%;
    margin-top: 20px;
}


